@import "../../static/css/variables.scss";
@import "../../static/css/base.scss";

.delete-todo {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);

  .delete-todo_content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
    border-radius: 10px;
    width: $base-width*3;
    @extend .text-center;
    height: 140px;

    .delete-todo_tip {
      line-height: 4;
    }
  }
}
