$base-font-size: 14px;
$base-font-color: #fff;

$base-margin: 10px;
$base-padding: 10px;

$base-width: 80px;
$base-btn-width: 100px;

$base-font-color: #000;
$base-gray-0: #333;
$base-gray-1: #666;
$base-gray-2: #999;

$base-border: 1px solid;
$base-border-dark: $base-border $base-font-color;

$align-items-center: center;
$justify-content-around: space-around
