@import "../../static/css/variables.scss";
@import "../../static/css/base.scss";

.todo-detail_show {
  .todo-detail_show-title {
    font-size: $base-font-size+10;
    font-weight: bold;

    .todo-detail_show-status {
      font-size: $base-font-size;
      font-weight: normal;
    }
  }

  .todo-detail_show-content {
    font-size: $base-font-size+2;
    margin: $base-margin*6 $base-margin;
  }

  .todo-detail_show-btn {
    @include flex;

    .nes-btn {
      width: $base-btn-width;
    }
  }
}
