@import "variables";

.flex {
  display: flex;
}

.text-center{
  text-align: center;
}

@mixin flex(
  $alignItems: $align-items-center,
  $justifyContent: $justify-content-around
) {
  @extend .flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
}
