// 首先通过@import引入其他样式表
@import "../../static/css/variables.scss";
@import "../../static/css/base.scss";

.todo-wrap {
  // 使用在variables.scss中声明的常量
  font-size: $base-font-size;
  width: 500px;
  margin: 80px auto;
}
